/* experiment.module.css */
.container {
  border: 1px solid #0e0d0d;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: move; /* Show move cursor on draggable area */
  position: relative; /* Position for resizers */
}

.container:active {
  cursor: grabbing; /* Show grabbing cursor during drag */
}

.content {
  /* Additional styling for content */
}

.resizer {
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #0e0d0d;
}

.resizer.top {
  top: 0;
  left: 0;
  right: 0;
  cursor: ns-resize;
}

.resizer.bottom {
  bottom: 0;
  left: 0;
  right: 0;
  cursor: ns-resize;
}

.resizer.left {
  top: 0;
  bottom: 0;
  left: 0;
  cursor: ew-resize;
}

.resizer.right {
  top: 0;
  bottom: 0;
  right: 0;
  cursor: ew-resize;
}

.resizer.topLeft {
  top: 0;
  left: 0;
  cursor: nwse-resize;
}

.resizer.topRight {
  top: 0;
  right: 0;
  cursor: nesw-resize;
}

.resizer.bottomLeft {
  bottom: 0;
  left: 0;
  cursor: nesw-resize;
}

.resizer.bottomRight {
  bottom: 0;
  right: 0;
  cursor: nwse-resize;
}
