.resizableContainer {
    position: relative;
    display: inline-block; 
    border: 1px solid black;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .resizeHandle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: lightgray;
    cursor: nwse-resize; 
  }
  
  .bottom {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: ns-resize; 
  }
  
  .bottomRight {
    bottom: 0;
    right: 0;
    cursor: nwse-resize; 
  }
  
  .right {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: ew-resize;
  }
  
  .left {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: ew-resize;
  }
  
  .top {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: ns-resize; /* Vertical resize cursor */
  }
  
  .topRight {
    top: 0;
    right: 0;
    cursor: nesw-resize; /* Diagonal resize cursor */
  }
  
  .topLeft {
    top: 0;
    left: 0;
    cursor: nwse-resize; /* Diagonal resize cursor */
  }
  