.container {
  border: 1px solid #c32c2c;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: ew-resize; /* Show resize cursor on draggable area */
}

.container:active {
  cursor: grabbing; /* Show grabbing cursor during drag */
}

.content {
  /* Additional styling for content */
}
