.resizable-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resizable-content {
    height: 100%;
    background-color: #f0f0f0;
    overflow-y: auto;
    padding: 10px;
}

.react-resizable {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.react-resizable-handle {
    background-color: #ccc;
    cursor: row-resize;
}
